.Container {
  padding: 100px;
  margin-top: auto;
  height: 100vh;
  width: 100%;
  background: #e5e5e5;
}
.Top {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.item1 {
  width: 100px;
  height: 18px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  color: #1f2022;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px;
}
.item2 {
  width: 110px;
  height: 18px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  color: #1f2022;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px;
}
.item3 {
  width: 150px;
  height: 18px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  color: #70798b;
  flex: none;
  order: 4;
  flex-grow: 0;
  margin: 0px 8px;
}
.Wrapper {
  height: 100vh;
  margin-bottom: auto;
  /* padding-left: 100px; */
  width: 100%;
  background-color: transparent;
}
.Body {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 500px;
  /* background-color: green; */
}
.left {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* background-color: greenyellow; */
  flex: 2;
}
.Cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 274px;
  height: 274px;
  background: #ffffff;
  border-radius: 27.4451px;
}
.right {
  flex: 5;
  /* background-color: green; */
}
.Title {
  width: 280px;
  height: 57px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 57px;
  color: #011a61;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 16px 0px;
}
.Text {
  width: 871px;
  height: 76px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #70798b;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.ButtonWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: fit-content;
  flex-wrap: wrap;
  /* width: 100%; */
  background-color: transparent;
  border: 1px solid red;
  margin-bottom: 200px;
}
.BtnTitle {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 500px;
  height: 57px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 57px;
  color: #011a61;
}
.BtnTextCard {
  flex: 1;
  width: 166px;
  height: 14px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #70798b;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0px;
}
.BtnTitleCard {
  flex: 1;
  width: 243px;
  height: 21px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #011a61;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0px;
}

.BtnCard {
  margin-top: 20px;
  height: 200px;
  width: 250px;
  /* background: #ffffff; */
  background: yellow;
  box-shadow: 16px 24px 24px rgba(200, 200, 200, 0.05);
  border-radius: 12px;
}
.CardImg,
.CardImgs {
  flex: 3;
  height: 100px;
  width: 100px;
}
.ImgWrapper {
  height: auto;
  width: 100px;
  overflow: hidden;
  border: 1px solid red;
}
.BtnCardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
